/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #4C3825;
    font-family: 'Big Shoulders Display', 'Oswald', sans-serif;
    font-size: larger;
    font-weight: 300;
    text-transform: uppercase;
}

/* Links in body */
body a {
    color: #F3EADC;
}

/* Header */
header {
    background-color: #F3EADC;
    padding: 0 .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 5px #4C3825;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

header a {
    text-decoration: none;
    color: #4C3825;
}

h1 {
    font-size: 400%;
    font-weight: 900;
}

/* Navbar */
#menu {
    font-size: 120%;
    list-style-type: none;
    font-weight: 600;
}

#menu>li {
    margin-bottom: 2px;
}

.active {
    border-bottom: 2px solid #4C3825;
}

/* Navbar styles with drop down toggle */
nav {
    position: absolute;
    background-color: #F3EADC;
    width: 100%;
    padding: 0 .5em;
    right: 0;
    box-shadow: inherit;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    position: relative;
}

.nav-toggle-label {
    font-size: 300%;
    position: absolute;
    bottom: 15%;
    right: 10px;
}

/* Main Content */
main {
    color: #F3EADC;
    background-color: #4C3825;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
    /* Push the start of element down so it isn't hidden by header */
    margin-top: 92px;
    text-align: center;
}

/* Hero section */
#hero {
    height: 250px;
    width: 100%;
    background-color: #4C3825;
    background: url('../images/hero-image.jpeg') no-repeat top;
    background-size: cover;
}

/* Updates section */
h2 {
    text-transform: uppercase;
    font-size: 350%;
    font-weight: 900;
}

fieldset {
    border: 3px solid #F3EADC;
    padding: 3px;
    margin: 0 10px 10px;
    height: max-content;
    background-color: #291501;
}

.date {
    background-color: #F3EADC;
    color: #4C3825;
    font-size: larger;
    font-weight: 700;
    float: left;
}

/* fieldset div {
    padding: 0 5px 20px 5px;
} */

div>p {
    clear: left;
    padding: 5px 0;
}

div img {
    max-width: 600px;
}

iframe {
    height: 250px;
    width: 100%;
}

ul>li {
    list-style-type: none;
    text-align: left;
}

/* Band member pic section */
#member-pics>img {
    padding-bottom: 5px;
}

#member-pics {
    position: relative;
}

.cover-text {
    position: absolute;
    color: #F3EADC;
    font-size: 300%;
    left: 5px;
}

/* Music page */
h3 {
    font-size: 250%;
    padding-bottom: 10px;
}

h4 {
    font-size: 2rem;
}

h5 {
    font: 1.5rem;
    font-weight: 400;
}

#sphere-shaped-room-text,
ol>li {
    text-align: left;
    margin-left: 8%;
}

/* Link button to listen to album on Spotify */
button a {
    background-color: #F3EADC;
    color: #291501;
    font-size: 250%;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #291501;
    font-weight: 600;
    font-family: 'Big Shoulders Display';
}

button {
    margin-bottom: 20px;
}

#albums,
#other-releases {
    padding: 10px;
}

/* Footer */
footer {
    background-color: #F3EADC;
    box-shadow: 2px 0 7px #4C3825;
}

/* Social newtork icons */
#social-networks {
    text-align: right;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 5px;
    color: #4C3825;
}

/* Tour page */
table {
    /* border: 1px solid #F3EADC; */
    width: 100%;
}

th {
    font-size: xx-large;
    font-weight: 700;
    text-decoration: underline overline;
}

td {
    font-size: 120%;
    padding: 5px;
}

td button a {
    font-size: 120%;
}

/* Media query: laptops & larger (500px and above) */
@media screen and (min-width: 500px) {

    /* Hero image */
    #hero {
        height: 400px;
    }
}

/* Media query: tablets & larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Header */
    #logo {
        font-size: 7rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: .5rem;
    }

    nav a {
        font-size: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu a:hover {
        border-bottom: 2px solid #4C3825;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Hero image */
    #hero {
        height: 500px;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate the larger header */
        margin-top: 134px;
    }

    /* Updates section */
    fieldset {
        margin: 0 30px 30px;
    }

    fieldset div {
        padding: 0 20px;
    }

    h2 {
        font-size: 400%;
    }

    .date {
        font-size: 200%;
    }

    .right .date {
        float: right;
    }

    .right ul {
        float: right;
    }

    div {
        clear: both;
    }

    div p {
        font-size: 150%;
        clear: both;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    iframe {
        height: 300px;
        width: 70%;
    }

    /* Band member pics section */
    #member-pics {
        padding: 0 2% 20px;
        width: 60%;
        margin-bottom: 100px;
    }

    .rick {
        position: absolute;
        left: 10%;
        top: 1%;
    }

    #alex {
        position: absolute;
        left: 63%;
        bottom: 120px;
        z-index: 80;
    }

    .alex {
        position: absolute;
        left: 70%;
        top: 35%;
        z-index: 90;
    }

    #kris {
        position: relative;
        top: 100px;
    }

    .kris {
        position: absolute;
        z-index: 98;
        bottom: 24%;
        left: 10%;
    }

    /* Music page */
    h2 {
        font-size: 400%;
    }

    h3 {
        font-size: 300%;
        margin-bottom: 20px;
        font-weight: 800;
    }

    h4 {
        font-size: 250%;
    }

    h5 {
        font-size: larger;
        margin-bottom: 20px;
    }

    ol>li {
        font-size: xx-large;
    }

    button a {
        font-size: 400%;
    }

    button {
        margin-bottom: 5%;
    }

    /* Tour page */
    th {
        font-size: 250%;
    }

    td {
        font-size: 200%;
    }

    td button a {
        font-size: 250%;
    }
}

/* Media query: laptops & larger (992px and above) */
@media screen and (min-width: 992px) {

    /* Hero image */
    #hero {
        height: 600px;
    }

    iframe {
        height: 400px;
        width: 70%;
    }

}

/* Media query: Desktop & larger (1200px and above) */
@media screen and (min-width: 1200px) {

    /* Updates section */
    fieldset {
        padding: 3% 7%; 
    }

    iframe {
        height: 450px;
        width: 50%;
    }

    /* Band member pics section */
    #member-pics {
        width: 100vw;
        display: flex;
        flex-flow: row unwrap;
        gap: 3px;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    #member-pics>img {
        position: initial;
        width: 33%;
    }

    .cover-text {
        top: 0;
        left: 0;
    }

    .rick {
        left: 3%;
    }

    .alex {
        left: 35%;
    }

    .kris {
        left: 67%;
    }

    /* Music page */
    #album-list img,
    #other-releases img {
        float: left;
        padding-bottom: 150px;
    }

    ol {
        padding-left: 650px;
    }

    #sphere-shaped-room-text, ol>li {
        font-size: xx-large;
    }

    #sphere-shaped-room-text {
        padding-left: 600px;
        clear: right;
    }

    button {
        margin-top: 30px;
    }
}