/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #4C3825;
    font-family: 'Big Shoulders Display', 'Oswald', sans-serif;
}

/* Header */
header {
    background-color: #F3EADC;
    padding: 0 .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 5px #4C3825;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

/*Nav Toggle*/
#nav-toggle:checked~nav {
    display: block;
}

header a {
    text-decoration: none;
    color: #4C3825;
}

h1 {
    font-size: 400%;
    font-weight: 900;
}

/* Navbar */
#menu {
    font-size: 120%;
    list-style-type: none;
    font-weight: 600;
}

#menu>li {
    margin-bottom: 2px;
}

.active {
    border-bottom: 2px solid #4C3825;
}

/* Navbar styles with drop down toggle */
nav {
    position: absolute;
    background-color: #F3EADC;
    width: 100%;
    padding: 0 .5em;
    right: 0;
    box-shadow: inherit;
    display: none;
    top: 100%;
}

#nav-toggle {
    display: none;
    position: relative;
}

.nav-toggle-label {
    font-size: 300%;
    position: absolute;
    bottom: 15%;
    right: 10px;
}

/* Main Content */
main {
    background-color: lightcoral;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
    /* Push the start of element down so it isn't hidden by header */
    margin-top: 76.5px;
}

/* Footer */
footer {
    background-color: aquamarine;
}

/* Media query: tablets & larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Header */
    #logo {
        font-size: 7rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: .5rem;
    }

    #menu {
        display: flex;
    }

    #menu a:hover {
        border-bottom: 2px solid #4C3825;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate the larger header */
        margin-top: 134px;
    }
}