/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #4C3825;
    font-family: 'Big Shoulders Display', 'Oswald', sans-serif;
    font-size: larger;
    font-weight: 300;
    text-transform: uppercase;
}

/* Links in body */
body a {
    color: #F3EADC;
}

/* Hidden headers */
.hidden-text {
    display: none;
}

/* Header */
header {
    background-color: #F3EADC;
    padding: 0 .5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

header a {
    text-decoration: none;
    color: #4C3825;
}

h1 {
    font-size: 400%;
    font-weight: 900;
}

/* Navbar */
#menu {
    font-size: 120%;
    list-style-type: none;
    font-weight: 600;
}

#menu>li {
    margin-bottom: 2px;
}

.active {
    border-bottom: 2px solid #4C3825;
}

/* Navbar styles with drop down toggle */
nav {
    position: absolute;
    background-color: #F3EADC;
    width: 100%;
    padding: 0 .5em;
    right: 0;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
    position: relative;
}

.nav-toggle-label {
    font-size: 300%;
    position: absolute;
    bottom: 15%;
    right: 10px;
}

/* Main Content */
main {
    color: #F3EADC;
    background-color: #4C3825;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
    /* Push the start of element down so it isn't hidden by header */
    margin-top: 92px;
    text-align: center;
}

/* Hero section */
#hero {
    height: 250px;
    width: 100%;
    background-color: #4C3825;
    background: url('../images/hero-image.jpeg') no-repeat top;
    background-size: cover;
}

/* Updates section */
h2 {
    font-size: 300%;
    font-weight: 900;
}

fieldset {
    border: 3px solid #F3EADC;
    padding: 3px;
    margin: 0 10px 10px;
    height: max-content;
    background-color: #291501;
}

#updates .left,
#updates .right {
    padding: 2% 3% 5%;
}

.date {
    background-color: #F3EADC;
    color: #4C3825;
    font-size: larger;
    font-weight: 700;
    float: left;
}

div>p {
    clear: left;
    padding: 5px 0;
}

div img {
    width: 100%;
    height: auto;
    max-width: 600px;
}

iframe {
    height: 250px;
    width: 100%;
    border: none;
}

ul>li {
    list-style-type: none;
    text-align: left;
}

/* Band member pic section */
#member-pics>img {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

#member-pics {
    position: relative;
}

.cover-text {
    position: absolute;
    color: #F3EADC;
    font-size: 300%;
    left: 5px;
}

/* Music page */
h3 {
    font-size: 250%;
    text-decoration: underline overline;
}

h4 {
    font-size: 200%;
    font-weight: 800;
}

h5 {
    font: 1.5rem;
    font-weight: 600;
}

#sphere-shaped-room-text,
ol {
    padding: 5%;
}

#sphere-shaped-room-text,
ol>li {
    text-align: left;
    margin-left: 8%;
}

/* Link button to listen to album on Spotify */
#albums a,
#other-releases a {
    background-color: #F3EADC;
    color: #291501;
    font-size: 180%;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px ridge #4C3825;
    font-weight: 600;
    font-family: 'Big Shoulders Display';
}

#album-list div {
    margin-bottom: 8%;
}

#albums,
#other-releases {
    padding: 10px;
}

/* Tour page */
table {
    width: 100%;
}

th {
    font-size: xx-large;
    font-weight: 700;
    text-decoration: underline overline;
}

td {
    padding: 5px;
}

td a {
    font-size: 100%;
    background-color: #F3EADC;
    color: #291501;
    text-decoration: none;
    border: 5px ridge #4C3825;
    font-weight: 600;
    font-family: 'Big Shoulders Display';
}

/* Contact Page */
#follow {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

#follow a {
    align-self: center;
    width: 150px;
    height: 50px;
    background-color: #F3EADC;
    color: #4C3825;
    font-size: x-large;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-weight: 800;
}

/* Newsletter section */
#newsletter {
    margin: 0 20% 10% 5%;
    text-align: left;
    font-size: 2rem;
}

#newsletter input {
    background-color: #F3EADC;
    padding: 5px;
    left: 50%;
    width: 150px;
    margin-bottom: 0;
}

#submit-button {
    font-size: x-large;
    color: #4C3825;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    margin: 20px 0;
}

/* Success & 404 error pages */
#success,
#invalid {
    height: 80vh;
}

#success h3  {
    margin: 30px;
}

#invalid h3 {
    margin: 20px 0;
}

#success p,
#invalid p {
    font-size: 120%;
    font-weight: 200;
    padding: 0 20px;
}

#success i {
    font-size: 300%;
    margin-top: 30px;
}

#invalid i {
    font-size: 300%;
    padding-bottom: 30px;
}

/* Footer */
footer {
    background-color: #F3EADC;
}

/* Copyright section */
#copyright {
    font-weight: 600;
    text-align: center;
}

/* Social newtork icons */
#social-networks {
    display: flex;
    align-self: center;
    padding: 2px 20px 10px;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 2px;
    color: #4C3825;
}

/* Media query: slightly bigger mobile devices (350px and above) */
@media screen and (min-width: 350px) {

    /* Tour section */
    td a {
        font-size: 120%;
    }

    /* Newsletter section */
    #newsletter {
        margin: 5% 5% 20% 5%;
        text-align: left;
        font-size: 2rem;
        position: relative;
    }

    #newsletter input {
        background-color: #F3EADC;
        padding: 5px;
        position: absolute;
        left: 50%;
        width: 150px;
    }

    #submit-button {
        font-size: x-large;
        color: #4C3825;
        font-weight: 800;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        margin-top: 20px;
    }

    /* Success & 404 error pages */
    #success p,
    #invalid p {
        font-size: 150%;
    }
}

/* Media query: laptops & larger (400px and above) */
@media screen and (min-width: 400px) {

    /* Hero image */
    #hero {
        height: 400px;
    }
}

/* Media query: tablets & larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Header */
    #logo {
        font-size: 7rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: .5rem;
    }

    nav a {
        font-size: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu a:hover {
        border-bottom: 2px solid #4C3825;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Hero image */
    #hero {
        height: 500px;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate the larger header */
        margin-top: 134px;
    }

    /* Updates section */
    fieldset {
        margin: 0 30px 30px;
    }

    fieldset div {
        padding: 0 20px;
    }

    h2 {
        font-size: 400%;
    }

    .date {
        font-size: 200%;
    }

    .right .date {
        float: right;
    }

    .right ul {
        float: right;
    }

    div {
        clear: both;
    }

    div p {
        font-size: 150%;
        clear: both;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    iframe {
        height: 300px;
        width: 70%;
    }

    /* Band member pics section */
    #member-pics {
        padding: 0 2% 20px;
        width: 60%;
        margin-bottom: 100px;
    }

    .rick {
        position: absolute;
        left: 10%;
        top: 1%;
    }

    #alex {
        position: absolute;
        left: 63%;
        bottom: 120px;
        z-index: 80;
    }

    .alex {
        position: absolute;
        left: 70%;
        top: 35%;
        z-index: 90;
    }

    #kris {
        position: relative;
        top: 100px;
    }

    .kris {
        position: absolute;
        z-index: 98;
        bottom: 24%;
        left: 10%;
    }

    /* Music page */
    h2 {
        font-size: 400%;
    }

    h3 {
        font-size: 300%;
        margin-bottom: 20px;
        font-weight: 800;
    }

    h4 {
        font-size: 250%;
    }

    h5 {
        font-size: larger;
        margin-bottom: 20px;
    }

    ol>li {
        font-size: xx-large;
    }

    #album-list a {
        font-size: 300%;
        border: 6px ridge #4C3825;
        margin: 5%;
    }

    /* Tour page */
    th {
        font-size: 250%;
        padding-bottom: 10px;
    }

    td {
        font-size: 200%;
        padding-bottom: 10px;
    }

    td button a {
        font-size: 250%;
    }

    /* Contact Page */
    #contact h3 {
        margin-top: 5%;
        text-align: center;
    }

    #follow {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0% 5% 5%;
    }

    #follow a {
        align-self: center;
        width: 180px;
        height: 60px;
        background-color: #F3EADC;
        color: #4C3825;
        font-size: xx-large;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        font-weight: 800;
    }

    /* Newsletter section */
    #newsletter {
        width: 70vw;
        text-align: left;
        font-size: 2.5rem;
    }

    #newsletter input {
        background-color: #F3EADC;
        padding: 5px;
        left: 50%;
        width: 250px;
        height: 40px;
    }

    #submit-button {
        font-size: x-large;
        color: #4C3825;
        font-weight: 800;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        margin: 20px 0;
    }

    /* Success & 404 error pages */
    #success h3,
    #invalid h3 {
        margin: 40px;
    }

    #success p,
    #invalid p {
        font-size: 200%;
        font-weight: 300;
    }

    #success i,
    #invalid i {
        font-size: 500%;
    }
}

/* Media query: laptops & larger (960px and above) */
@media screen and (min-width: 960px) {

    /* Contact Page */
    #follow {
        padding: 0% 12% 5%;
    }

    #follow a {
        align-self: center;
        width: 200px;
        height: 60px;
        background-color: #F3EADC;
        color: #4C3825;
        font-size: xx-large;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        font-weight: 800;
    }

    #newsletter {
        margin-bottom: 10%;
        width: 60vw;
        padding-left: 100px;
    }
}

/* Media query: laptops & larger (992px and above) */
@media screen and (min-width: 992px) {

    /* Hero image */
    #hero {
        height: 600px;
    }

    iframe {
        height: 400px;
        width: 70%;
    }

}

/* Media query: Desktop & larger (1200px and above) */
@media screen and (min-width: 1200px) {

    fieldset {
        margin: 40px 60px 60px;
    }

    /* Updates section */
    fieldset {
        padding: 3% 7%;
    }

    #updates .left,
    #updates .right {
        padding-bottom: 0;
    }

    iframe {
        height: 450px;
        width: 60%;
    }

    /* Band member pics section */
    #member-pics {
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
        gap: 3px;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    #member-pics>img {
        position: initial;
        width: 33%;
    }

    .cover-text {
        top: 0;
        left: 0;
    }

    .rick {
        left: 3%;
    }

    .alex {
        left: 35%;
    }

    .kris {
        left: 67%;
    }

    /* Music page */
    #album-list img,
    #other-releases img {
        float: left;
        padding-bottom: 150px;
    }

    ol {
        padding: 0 0 5% 650px;
    }

    /* #button-position {
        float: clear;
        text-align: left;
    } */

    #sphere-shaped-room-text,
    ol>li {
        font-size: xx-large;
    }

    #sphere-shaped-room-text {
        padding-left: 600px;
        clear: right;
    }

    button {
        margin-top: 30px;
    }

    /* Contact page */
    #follow {
        gap: 30px;
        margin: 0 10%;
        padding: 0;
    }

    #newsletter {
        width: 60vw;
        padding-left: 150px;
    }
}